body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 5px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #007acc;
}

button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #005a99;
}

#login-button {
    margin-left: 90%;
    margin-bottom: 15px;
    scale: 200%;
}

#header-div {

    margin: 0;
    border-style: solid;
    padding: 5px;
}

#three-login-options {
    display: flex;
    margin: auto;
    margin-top: 7%;
    width: 60%;
    height:60%;
    border-style: solid;
    background: lightblue;
    align-content: center;
    justify-content: center;
    place-items: center;

}

#div-login-user {
    height: 30%;
    width: 30%;
    float: left;
    border-style: solid;
    margin: 0.5%;
}