body {
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #007acc;
}

button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #005a99;
}


#header-div {

    margin: 0.5%;
    border-style: solid;
    padding: 5px;
    height: 10%;
}

#three-login-options {
    display: flex;
    margin: auto;
    margin-top: 7%;
    width: 60%;
    height:60%;
    border-style: solid;
    background: lightblue;
    align-content: center;
    justify-content: center;
    place-items: center;

}


#div-request-box {
    height: 90%;
    width: 80%;
    float: left;
    border-style: solid;
    margin: 0.5%;
}

html,body {
    height: 100%;
}

#button-panel {
    height: 90%;
    width: 17%;
    float: right;
    border-style: solid;
    margin: 0.5%;
}

#table-request {
    padding: 0.1vh;
    width:100%;
}

#request-row-blue {
    background-color: lightblue;
    font-size: 3vh;
}

#request-row-green {
    background-color: lightgreen;
    font-size: 3vh;
}